@tailwind base;
@font-face {
   font-family: "FFMark";
   src: url("./assets/fonts/FFMarkPro-Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "FFMark";
   src: url("./assets/fonts/FFMarkPro-Medium.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}

.font-ff {
   font-family: FFMark;
}

@font-face {
   font-family: "Gilroy";
   src: url("./assets/fonts/Gilroy-Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("./assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}

.font-gilroy {
   font-family: Gilroy;
}

@tailwind components;
@tailwind utilities;

@layer components {
   .nav-button {
      @apply flex items-center justify-center w-12 h-12 transition duration-500 ease-out transform bg-white rounded-full shadow-lg cursor-pointer;
   }
   .nav-button:hover {
      @apply scale-125;
   }
   .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
         stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
   }
   .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
   }
   .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
   }
   .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
   }
   .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
   }
   .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
   }

   .formbtn {
      @apply bg-indigo-600;
      @apply border-indigo-700;
   }

   .formbtn:focus {
      @apply bg-indigo-500;
   }

   .formbtn:hover {
      @apply bg-indigo-500;
   }

   .formbtn:active {
      @apply bg-indigo-600;
   }

   .formbtn-inactive {
      @apply border-2;
      @apply border-gray-300;
      @apply shadow-sm;
      @apply cursor-default;
   }

   /* FormField */
   input:focus-within ~ label,
   input:not(:placeholder-shown) ~ label {
      @apply transform scale-0 opacity-0;
   }

   input:focus-within ~ div,
   input:not(:placeholder-shown) ~ div {
      @apply transform scale-100 opacity-100;
   }

   input:focus-within {
      @apply bg-white;
      @apply border-2;
      @apply border-gray-800;
   }
}
